@media (max-width: 767px) {}

@media (min-width: 320px) and (max-width: 767px) {
	.navbar-expand-sm .navbar-collapse {
		text-align: center;
	}

	.third-logo {
		width: 100%;
	}

	.dropdown-menu[data-bs-popper] {
		left: 15%;
		margin-top: .125rem;
	}
}

@media (min-width: 1024px) and (max-width: 1356px) {}


@media (min-width: 768px) {
	.first-logo {
		width: auto;
	}

	.navbar-expand-sm .navbar-collapse {
		display: flex !important;
		flex-basis: auto;
		text-align: right;
		justify-content: flex-end;
	}

	form.frds_english_logo {
		text-align: center;
	}

	/* .modal
    {
        display: block !important;
    } */
}

@media (min-width: 1024px) {}

@media (min-width: 1356px) {}