@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
:root {
    --primary-color: #38516f;
    --tab-color: #495057;
    --number-color: #a0a7b5;
    --white: #fff;
    --black: #000;
    --card: #e1e1e1;
    --body: #fafafa;
    --font-family1: "Lato", sans-serif;
    --font-family2: "Oswald", sans-serif;
    --container-width: 1920px;
    --height: 1450px;
}
.fixed-top {
    background: var(--primary-color) !important;
}
.list-group-item.active {
    background: var(--primary-color) !important;
}
p {
    padding: 0;
    margin: 0;
    line-height: 25px;
    font-size: 12px;
}
a {
    text-decoration: none;
    font-size: 12px;
}
body {
    /* min-height: 75rem; */
    padding-top: 2.5rem;
    background: #f8f9fa !important;
}
.bg-dark {
    background: var(--primary-color) !important;
}
/* .container-fluid{
     padding: 0;
     margin: 0;
} */
.btn-success {
    font-size: 12px;
}
/* Nav Start */
/* .container-fluid
{
     width: var(--container-width);
     width: 100%;
} */
.bg-dark {
    background: var(--primary-color) !important;
    height: auto;
    padding: 0.3rem;
    margin: 0;
}
.nav-item img {
    width: 25px;
}
.nav-item .btn {
    font-size: 12px;
}
/* .navbar
 {
    padding-top: 0rem;
    padding-bottom: 0rem;
 } */
.navbar-dark .navbar-nav .nav-link {
    font-size: 14px;
    height: 39px;
}
.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar-collapse {
    background: var(--primary-color);
    z-index: 1;
}
.navbar-nav li.nav-item.active {
    background: var(--card);
}
.navbar-nav li.nav-item.active a {
    color: var(--black);
}
.avatar-img {
    width: 25px;
    height: 22px;
    border-radius: 5px;
    background: var(--white);
}
.list-group-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    border-bottom: 1px solid #ccc !important;
    border: none;
    border-radius: 5%;
}
.dropdown-toggle::after {
    display: none;
}
.list-group-item.active {
    z-index: 2;
    color: #000 !important;
    background-color: transparent !important;
    border: none !important;
    padding: 0.5rem !important;
}
.dropdown-menu {
    min-width: 25rem !important;
}
ul.dropdown-menu.text-small.shadow.show {
    min-width: 8rem;
    left: -20% !important;
    top: 120%;
}
.navbar-brand {
    padding: 0;
}
.nav-left .nav-link {
    padding: 0.5rem 1.5rem !important;
}
.input-group .form-control {
    border: none;
}
.input-group {
    width: 100%;
    border: 1px solid #e1e1e1;
}
.input-group-text {
    background: #fff;
    border: none;
}
.second-logo {
    width: 40%;
    float: left;
}
.header-badge {
    border-radius: 25px;
    color: #fff;
}
.header-badge2 {
    border-radius: 25px;
    color: #fff;
}
span.badge.bg-info.header-badge2 {
    background: transparent !important;
    color: #43ccd7;
    border: 1px solid #43ccd7;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    font-size: 11px;
    padding: 7px 13px;
}
.revenue-circle span {
    border-radius: 100px;
    background: #fff;
    width: 25px;
    height: 25px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #ccc;
}
.revenue-circle h2 {
    color: #000;
}
.mobile-view-toggle .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}
.flex-shrink-0.dropdown .d-block {
    color: #fff !important;
    text-align: center;
}
.bell-icon {
    position: relative;
}
span.badge.bg-danger.header-badge {
    position: absolute;
    bottom: 60%;
    font-size: 8px;
    left: 60%;
}
.search-icon {
    border: 1px solid #ccc;
    border-radius: 100%;
    padding: 0.5rem;
    height: 30px;
    width: 30px;
    line-height: 10px;
}
/* Nav End */

/*.main {
    padding: 4rem 0 0;
} */

.mobile-view-toggle li {
    display: block;
}

.nav-pills .nav-link {
    padding: 1rem;
}
.nav-pills li a i {
    padding: 0.3rem;
    font-size: 16px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
.nav-pills .nav-link:hover {
    color: #fff;
    background-color: #48ccd6 !important;
}
#dropdownUser2 img {
    margin-left: 0.5rem;
}
.sidenav a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    font-size: 18px;
    position: absolute;
    bottom: 10%;
    right: 0%;
    border-radius: 100px;
    color: var(--primary-color);
    background: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.sidenav .closebtn i:hover,
.sidenav .closebtn:hover {
    color: var(--primary-color) !important;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 14px;
        color: #fff;
    }
}

.title-name {
    font-size: 1rem;
    color: var(--white);
}
.menu-icon {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    padding: 0 1rem;
}

/* dash */
.dash-one .form-select {
    border-radius: 100px !important;
    /* color: var(--white);
    background-color: #477596 !important; */
    font-size: 14px;
    cursor: pointer;
}
.tab-content > .tab-pane {
    padding: 1rem;
    background: var(--white);
}
.dash-one span.badge.bg-secondary {
    color: var(--black);
    font-size: 14px;
    padding: 0.5rem;
    background-color: #f8f9fa !important;
    cursor: pointer;
    font-weight: 400;
}
.nav-tabs .nav-link {
    font-size: 1rem;
}

.card-flex {
    display: flex !important;
    justify-content: flex-end;
    text-align: right;
    gap: 1rem;
}
.font-10 {
    font-size: 10px;
}
.font-14 {
    font-size: 14px;
}
.font-18 {
    font-size: 18px;
}
.font-20 {
    font-size: 20px;
}
.font-24 {
    font-size: 24px;
}
.card-one .card {
    background: linear-gradient(to right, #0162e8 0, #0162e880 100%) !important;
    border: none;
    color: var(--white);
    position: relative;
}
.card {
    cursor: pointer;
}
.card-one .card-before {
    position: absolute;
    bottom: -30%;
    font-size: 100px;
    opacity: 0.1;
}
.card-two .card {
    background: linear-gradient(to right, #e74f5b 0, #e74f5b80 100%) !important;
    border: none;
    color: var(--white);
    position: relative;
}
.card-two .card-before {
    position: absolute;
    bottom: -30%;
    font-size: 100px;
    opacity: 0.1;
}
.card-three .card {
    background: linear-gradient(to right, #30c7d2 0, #30c7d280 100%) !important;
    border: none;
    color: var(--white);
    position: relative;
}
.card-three .card-before {
    position: absolute;
    bottom: -30%;
    font-size: 100px;
    opacity: 0.1;
}
.card-four .card {
    background: linear-gradient(to right, #8d44ad 0, #8d44ad80 100%) !important;
    border: none;
    color: var(--white);
    position: relative;
}
.card-four .card-before {
    position: absolute;
    bottom: -30%;
    font-size: 100px;
    opacity: 0.1;
}
.text-right {
    text-align: right;
}

/* Chart 1 */
#chartdiv,
#chartdiv5,
#chartdiv6 {
    width: 100%;
    height: 500px;
}

.bg-white h2 {
    font-size: 1rem;
    padding: 1rem 0;
}
.graph-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #cccccc87;
    margin-bottom: 0.8rem;
}
.card-right {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.footer p {
    color: #fff;
}
.table {
    cursor: pointer;
}
.card-right span {
    color: #ccc;
}
.card-left span {
    font-size: 0.8rem;
    color: #ccc;
}

.am5-layer-30 {
    display: none;
}

/* Chart 3 */

.noti-height {
    height: 300px;
    overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #38516f;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
